body {
    margin: 0 0 0 0;
    width: 80vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Fira Code';
}

main {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(80vw - 10px);
}

main:hover {
    cursor: default;
}

#console {
    max-height: 90%;
    min-height: 1%;
    width: 100%;
    overflow: hidden;
}

#textarea {
    display: flex;
    height: 10%;
    width: 100%;
}

#commandinput {
    margin-left: 10px;
    background-color: black;
    color: white;
    flex-grow: 1;
    caret-color: white;
    border: none;
    font-size: 18px;
    font-family: 'Fira Code';
}

#commandinput:hover {
    cursor: default;
}

#commandinput:focus {
    outline: none;
}